params {

    // Run options
    project_name = 'PROJECT_NAME'
    input_type = 'sfe'

    // Input path
    sfe_dir = "${projectDir}/sfe_bam"
	
    // Optional input path
    ul_dir = "${projectDir}/ul_bam"
    
    // Resource paths
    script_dir = "${projectDir}/scripts"
    resource_dir = "${projectDir}/resources"
    output_dir = "${projectDir}/${project_name}"
    
    //Region 
    region = 'kir'
    genome_size = '0.20'
    
    //Extract Reads
    extract_min_length = 10000

    //Correct Reads
    herro_model = "${resource_dir}/model_v0.1.pt"

    //assembly
    min_unitig_reads = 2

    // Split UL reads settings
    split_ul_length = 30000

    // Read Trimming
    trim_min_length = 5000
    trim_frac_cov = 0.1
    trim_frac_low_kmer = 0.01

    // final contig filtering
    fasm_min_frac_overlap = 0.999
    fasm_min_identity = 0.999
    fasm_min_edge_distance = 1000
    fasm_min_overlap_length = 5000
    fasm_max_contig_size = 200000
    
}

 
process {
   executor = "slurm"
   errorStrategy = 'finish'
   clusterOptions = "--time=96:00:00 --mail-user USER_EMAIL --mail-type FAIL"

   withLabel: low_resources {
      cpus = 1
      memory = 2.GB
   }

   withLabel: assembly {
      cpus = 8
      memory = 2.GB
   } 
   
   withName: align_all_to_ref {
       cpus = 12
       memory = 24.GB
   }

   withName: herro_inference {
      cpus = 4
      memory = 10.GB
      clusterOptions = '--time=96:00:00 --mail-user USER_EMAIL --mail-type FAIL GPU_SELECTOR'
      containerOptions = '--nv'
   }

   withName: asm_finalize {
      cpus = 1
      memory = 2.GB
   }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/images"
    runOptions = "-B $PWD:$PWD"
    
}
